
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
/**
 * Copyright 2017, Scribe Software, Inc.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * See License:  http://info.scribesoft.com/rs/957-WMM-217/images/Scribe%20Labs%20license%20agreement%202015.pdf
 * 
 * This is a simple Documentation Integration Tool developed in Google Sheets against Scribe's Rest API
 */

      function preventFormSubmit() {
        var forms = document.querySelectorAll('form');
        for (var i = 0; i < forms.length; i++) {
          forms[i].addEventListener('submit', function(event){
            event.preventDefault();
          });
        }
        //Set the original form state
            $("#output_org").hide();
            $("#output_solution").hide();
            $("#output_errors").hide();
      }
      
     
      
      window.addEventListener('load', preventFormSubmit);


      function handleFormSubmit(formObject) {
         
           google.script.run.withSuccessHandler(connectScribe).formProcessor(formObject);  
      }
         
      function connectScribe(orgs){
        if (orgs.length > 1) {
            $('#Connected span').text('Connected');
        
        //First time thru get the org list 
        var formStatus; 
        formStatus = $('#form_context').val();
        
        if (formStatus != ''){
             updateOrg(orgs) 
        }
            $('#username').prop('readonly', true);
            $('#password').prop('readonly', true);
            $("#output_org").show();
            $("#output_solution").show();
            $("#output_errors").show();
            
            divformActions = document.getElementById("formActions"); 
            divformActions.style.display = "inline";
           }
      else {
            $('#Connected span').text('Bad User Name or Password');
            $('#output_org').hide();
            $('#output_solution').hide();
            $("#output_errors").hide();
            }
      }
      
       
   function updateOrg(orgs) {
        var org; 
        var orgs; 
        var option; 
            $("#output_org").show();
            $("#output_solution").show();
            $("#output_errors").show();
            $("#formActions").show();
        
        var x = document.getElementById('org');
        x.options.length = 0
         
         for (var i = 0; i < orgs.length; i++){
             org = orgs[i];        
             option = document.createElement("option");
             option.text = org.name;
             option.value = org.id; 
             x.add(option); 
          }  
   
         var formStatus; 
         formStatus = $('#form_context').val();
         
         $('#Connected span').text('Connected: ' + formStatus);
            
         if (formStatus != "Document"){
             $('#org').prop('selectedIndex', 0); 
             $('#org').trigger('change'); }
         }
           
   function getSolutions(formObject) {
        var org; 
        var solutions =[];
        var solution; 
        var form_context; 
        
       org = document.getElementById('org').value; 
       solution = document.getElementById('solution');
       form_context = document.getElementById('form_context'); 
       form_context.value = "Solution";
        
        if (solution); {
             solutions = google.script.run.withSuccessHandler(updateSolutions).formProcessor(formObject);
             updateSolutions(solutions);}
        }
         
    function fail(e){console.log(e);}
    
    
    
    function updateSolutions(solutions) {
         var x = document.getElementById('solution');
         x.options.length = 0;
     
         if (solutions.length > 0) {
           $('#submit-button').prop('disabled',false);
            form_context = document.getElementById('form_context'); 
            form_context.value = "Document";}
        else { 
            form_context = document.getElementById('form_context'); 
            form_context.value = "Solution";
            $('#submit-button').prop('disabled',true);}
            
            for (var i = 0; i < solutions.length; i++){
             var solution = solutions[i]; 
             var option = document.createElement("option");
             option.text = solution.name;
             option.value = solution.id;  
             x.add(option); 
         }  
        } 
    </script>